.input-group{
    text-align: center;
    background-color: #dcdcde;
    border-radius: 20px;
    display: block;
    width: 175%!important;
    margin-right: 30px;
    height: 55px;
    align-items: center !important;
}

.search-text{

    background-color: #dcdcde;
    border: #dcdcde;

}
.col-lg-3 .col-centered{
    background-color: #dcdcde;
    border-radius: 15px;
}